$dark: rgb(20, 20, 20);
$less-dark:rgb(79, 82, 95);
$more-med:rgb(146, 149, 165);
$light: #dddde7;
$med: #bdbdc9;
$action: rgb(23, 152, 238);
$dark-action: rgb(24, 122, 187);

html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  padding-top: 40px;
  font-size: 1.15rem;
  line-height: 120%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.font--light {
  font-weight: 100;
}

.primary{
  color: $action;
}

.less--dark{
  color: $less-dark;
}

.button {
  background: $action;
  padding: .5rem;
  border-radius: 2px;
  font-weight: bold;
  color: white;
  cursor: pointer;
  border: none;
  transition: all 200ms ease;
  &:hover {
    background: $dark-action;
  }
}

.container {
  max-width: 960px;
  padding: 0 2rem;
  margin: 0 auto;
}

.navbar {
  padding: 0 1em;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  max-width: 100%;
  background: $dark;
  z-index: 2;
}

.navbar__list {
  // outline: 2px dashed orange;
  max-width: 500px;
  margin:  0 auto;
  // float: right;
  padding: 0;
  display: flex;
  justify-content: space-between;
  a {
    color: $light;
    padding: .5em;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

.landing__container {
  // margin-bottom: 5rem;
  position: relative;
  min-height: 100vh;
  overflow: hidden;
}

.landing__skew {
  height: 100vh; 
  width: 200%;
  position: absolute;
  z-index: -2;
  transform: skewY(5deg);
  background: $dark;  
}

.landing{
  min-height: 80vh;
  max-width: 300px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  h2 {
    color: $light;
  }
  p {
    color: $med;
  }
  
  a {
    color: $med;
    text-decoration: none;
    padding: 0;
    background: none;
    border: 1px solid $med;
    border-radius: 3px;
    padding: 0.25rem 0.45rem;        
    margin-right: 1rem;
    transition: all 200ms ease;
    &:hover {
      color: $action;
      border: 1px solid $action;      
    }
  }
}


.mouse {
  position: absolute;
  height: 40px;
  width: 20px;
  border: 2px solid $light;
  left: 50%;
  margin-left: -10px;
  top: 65%;
  border-radius: 40px;
}

.mouse__container {
  height: 100%;
  position: relative;
  margin-bottom: 1rem;
}

.line {
  height: 20px;
  position: absolute;
  // top: 10px;
  left: 50%;
  margin-left: -1px;
  background: $light;
  width: 2px;
}

.wheel {  
  position: absolute;
  left: 50%;
  // top: 10px;
  height: 5px;
  width: 6px;
  margin-left: -3px;
  background: $light;
  border-radius: 50%;
 -webkit-animation: scroll 2s infinite;
  animation: scroll 2s infinite;
  
}

@keyframes scroll {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
    transform: translateY(0);
  }
  40% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(15px);
  }
}


.projects{
  color: $dark;
  // margin-top: rem;
  margin-bottom: -5rem;
  padding-top: 3rem;
  p,
  ul {
    color: $less-dark;
  }
  header {
    max-height: 20vh;
    // max-width: 500px;
    margin: 0 auto;
  }
  section {
    margin-top: 3rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
  }
}

.card {
  // max-width: 700px;
  // border: 1px solid $med;
  // margin-right: 2rem;
  // margin-bottom: 5rem;
  // margin: 1rem 0;
  margin: 3rem 0;
  border-radius: 3px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
  grid-auto-rows: 1fr;
  // align-items: center;
  // justify-items: center;
  strong {
    color: $action;
  }
  h3 {
    margin-top: 0;
  }
  a {
    span {
      display: inline-block;
      transition: all 200ms ease;
      margin-right: 1.5rem;
      margin-bottom: 2rem;
    }
    text-decoration: none;
    &:hover {
      span {
        // color: rgb(0, 153, 255);
        margin-left: .25rem;
        margin-right: 1.25rem;
        // padding-right: 1re;
      }      
    }
  }
}

.card__img {
  // margin-right: 3rem;  
  // max-width: 200px;
  // max-height: 200px;
  // min-height: 300px;
  // min-width: 300px;
  background-size: contain;  
  background-repeat: no-repeat;
  background-position: top center;
}

.about__container {
  // outline: 4px solid red;
  position: relative;
  padding-top: 20rem;
  overflow: hidden;
  min-height: 80vh; 
}

.about__skew {
  // outline: 4px solid red;
  min-height: 80vh; 
  width: 200%;
  background: $action;  
  position: absolute;
  z-index: -2;
  transform: skewY(5deg);   
}

.about {
  margin: 0 auto;
  max-width: 720px;
  
  color: white;
  
}

.about__svg {
  max-height: 80px;
  width: 80px;
  margin-right: 4px;
  // margin-bottom: 2rem;
  display: inline-block;
}

.marquee { 
  margin: 0 auto; 
  min-height: 150px;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

.marquee__inner {
  width: 1848px;
  position: absolute;
  display: block;
  animation: slider 20s linear infinite;
}

.marquee__span {
  float: left;
  width: 50%;
}

@keyframes slider {
  0% { left: 0; }
  100% { left: -924px; }
}

.about__content {
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;  
  h3 {
    margin-bottom: 0.25rem;
  }
}

.about__content-list {
  text-align: center;  
  ul {
    list-style: none;
    padding: 0;    
  }
}

.contact {
  position: relative;
  max-width: 500px;
  margin: 0 auto;
  // outline: 4px solid red;
  // background: $action;
  color: $dark;
  min-height: 50vh;
}

.contact--bg {
  background: $action;
  z-index: -3;
  height: 200px;
  width: 100%;
  position: absolute;
  margin-top: -200px;
}

.form {
  // display: flex;
  // flex-direction: column;
  label {
    display: flex;
    flex-direction: column;
    margin: 2rem 0;
  }

  input, textarea {
    margin-top: .45rem;
    // border-radius: 2px;
  }
}

.footer {      
  background: $dark;
  color: $light;
  margin: 0;
  padding: 0.45rem;  
  text-align: center;
  .container {
    margin-bottom: 1rem;
  }
  p {
    font-size: 0.9rem;
  }
  a {
    text-decoration: none;
    margin-right: 1rem;
    color: $light;
    &:hover {
      color: $action;
    }
  }
  ul {
    margin: 0.45rem;
    list-style: none;    
  }
  li {
    display: inline;
  }
}

@media(max-width:1200px) {
  .about__container {
    padding-top: 10rem;
  }
}

@media (max-width:700px) {
  .card {
    grid-template-columns: 1fr;
    grid-template-rows: 200px 1fr;
  }
}